<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- *********************** 以下为iMis系统配置 *********************** -->
		<!-- 默认界面显示语言 -->
		<add key="Culture" value="zh-CN" />
		<!-- 默认主数据库链接加密字符串(224)(必须项) -->
		<add key="DEFAULT_CONN_STRING" value="C8cX1S13PhzPNiNyBNDI3qM4fSuxQbBI0MOu9Phmq1sgpYC6V53jnNFmhI76i/FP9a51mfnUCzE=" />
		<!-- 微信数据库链接加密字符串(集团机151)(必须项)  -->
		<add key="WX_CONN_STRING" value="C8cX1S13PhwW3dvjZlI7tQX0pknBhAhtGZO6hf8YAfwf9zETlVzo0AW9LNC6DtHN6cq+dktN9eIW7RrAkJSLGw==" />
		<!-- 使用Memcached处理二次认证(172.18.209.223)-->
		<add key="SSO_IS_QUICK" value="true" />
		<add key="MEMCACHED_CONN_STRING" value="+fySY9qicue8RGkgAp7tCVV2ByyhhWoH" />
		<!--当前站点默认根目录[为空时取当前目录为:(~)](必须项)-->
		<add key="RootFolder" value="AIMP" />
		<!--登陆页跳转路径(必须项)-->
		<add key="LoginUrl" value="/AIMP/Account/Login" />
		<!--SSO令牌二次认证跳转Url (必须项)-->
		<add key="SsoTokenUrl" value="/AIMP/SsoQuick.ashx" />
		<!--签核通过回跳路径,分别为网站入口点,微信入口点和微信自动关闭页面(需Request["autoclose"])-->
		<add key="NoRightUrl" value="/AIMP/Home/NoRight" />
		<add key="DefaultReturnBackUrl" value="/imis/oa/oa003.aspx" />
		<add key="WxReturnBackUrl" value="http://3g.appjg.com.cn/wxck/home.aspx" />
		<add key="WxAutoCloseUrl" value="http://3g.appjg.com.cn/wxck/closewin.aspx" />
		<!-- 微信企业号关联认证ID(wxcb:企业号信息表 :QY) -->
		<add key="WeChatAppId" value="A38" />
		<!-- 微信企业号消息发送队列(msmq:wxba|wxbb)[.\private$\atmsmsg] -->
		<!--<add key="WX_MSG_QUEUE_PATH" value="rJGuJmNl8HJ2aZJfb6IIsjFl7bRLYx8G" />-->
		<!-- 微信企业号消息发送队列(rmq:wxba|wxbb) -->
		<add key="RMQ_CONN_STRING" value="gwvT6/bgtVbNMzXsbYXYrw4EcJufLWfaK54VAaSA2foeBtFW4izRV+7nnk8RK7MycR38+OUFfnT8RlXHQ5oS4XAmqblZPIPoDmSz9ge5aY4=" />
		<!-- 管理员用户加密字符串(UserId) -->
		<!--<add key="ADMIN" value="YGnu8E1e8bxqPqfzA8HNZFK7iznMwOIH" />-->
		<!-- SAP RFC 接口调用设置 -->
		<add key="RFC_IP" value="172.23.196.229" />
		<add key="RFC_PORT" value="9999" />
		<add key="RFC_LOGIN" value="64599999" />
		<add key="RFC_PWD" value="sap888888" />
		<!-- *********************** 以下为自定义配置 *********************** -->

		<!-- 用户验证通信验证字符串 -->
		<add key="UserAuthentication_AccessToken" value="8C02C709-1F52-4CAA-862D-2CD530AE540F" />

		<!-- 用户登陆验证类型 -->
		<!--<add key="UserAuthentication_Type" value="AD" />-->

		<!-- 客户登陆启用设置 -->
		<!--<add key ="CustomerLoginState" value="true"/>-->

		<!-- IMISDB 框架配置库 -->
		<add key="IMIS_CONN_STRING" value="C8cX1S13PhzPNiNyBNDI3mMZUcK6ulhkdxHDp+nIGsCqqLwaelduXdtZS5gGD+SVYQKyCSaA6Yc=" />

	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.2" />
		<httpRuntime targetFramework="4.6.2" />
		<authentication mode="Forms">
			<!--初始化必须设置[项目名(需和站点名一致,区分大小写)]到属性[ name ],以区分用户验证信息的 Cookie 信息(否则项目间产生冲突)  (必须)-->
			<forms name="iMisMobilePortal" timeout="30" cookieless="UseCookies" requireSSL="false"  slidingExpiration="true" />
		</authentication>
		<roleManager defaultProvider="UserRoleProvider" enabled="true" cacheRolesInCookie="false">
			<providers>
				<clear />
				<add name="UserRoleProvider" type="iMis.Core.Security.UserRoleProvider, iMis.Core" />
			</providers>
		</roleManager>
		<httpModules></httpModules>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<!-- 站点跨域设置 -->
		<!--<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
			</customHeaders>
		</httpProtocol>-->
		<validation validateIntegratedModeConfiguration="false" />
		<modules></modules>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="UserAuthenticationSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://172.18.209.225/WebService/APPAuthWebService/UserAuthentication.asmx" binding="basicHttpBinding" bindingConfiguration="UserAuthenticationSoap" contract="UserAuthentication.UserAuthenticationSoap" name="UserAuthenticationSoap" />
		</client>
	</system.serviceModel>
</configuration>